<div class="pagina">
<table class="table table-striped table-hover">

  <thead>
    <tr class="table-info">
      <th class="display-4">Lista de Comentarios</th>
      <th class="text-end">
        <button class="btn btn-success" (click)="VM.add()">
          <i class="fas fa-plus"></i> Añadir
        </button>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let item of VM.Listado">
      <td>
        <div class="container">
          <div class="row">
            <div class="col-md-10">
              {{item.comentario}}
            </div>
          </div>
        </div>
      </td>
      <td class="align-middle text-end">
        <div class="btn-group" role="group" *ngIf="this.VM.auth.isInRoles('GERENTE')">
          <button class="btn btn-success" (click)="VM.edit(item.id)"  >
            Editar
          </button>
          <button class="btn btn-danger" (click)="VM.delete(item.id)">
            Borrar
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
