<div class="body">
<form class="formulario" #miForm="ngForm">
  <h1>Roles</h1>
  <fieldset class="form-group col-md-2" *ngFor="let item of VM.Elemento.Roles; let indice=index">
    <legend class="col-form-label col-sm-2 pt-0">rol {{indice}}</legend>
    <div class="col-sm-10">
      <div class="form-check">
        <select
        [(ngModel)]="VM.Elemento.Roles[indice]"
        name="ROLE{{indice}}"
        >
          <option value="ROLE_GERENTE">GERENTE</option>
          <option value="ROLE_TIENDA">TIENDA</option>
          <option value="ROLE_REPARTIDOR">REPARTIDOR</option>
          <option value="ROLE_USUARIO" selected>USUARIO</option>
        </select>
      </div>
    </div>
  </fieldset>

  <app-form-buttons (send)="VM.send()" [send-disabled]="miForm.invalid" (cancel)="VM.cancel()"></app-form-buttons>
  <!-- <div class="form-group">
    <input type="button" class="btn btn-success" value="Enviar" (click)="VM.send()" [disabled]="miForm.invalid">
    <input type="button" class="btn btn-info" value="Volver" (click)="VM.cancel()">
  </div> -->
</form>
</div>

