@font-face {
  font-family: Saira_Semi_Condensed_Regular;

  src: url(Saira_Semi_Condensed,Smooch_Sans/Smooch_Sans/SmoochSans-VariableFont_wght.ttf);
}

:root {
  --color-red: #ff4747;
  --color-light: #f5f9e7;
  --color-dark: #180314;
  --color-medium-light: #f4f08d;
  --color-medium-dark: #870909;
}

* {
  font-family: Saira_Semi_Condensed_Regular;
  font-weight: bold;
  margin: 0em;
  padding: 0em;
}
body {
  background-color: var(--color-light);
  width: auto;
}
/**
Barras de navegación
**/
.navbar {
  display: flex;
  background-color: var(--color-red);
  height: 3.5em;
  align-items: center;
}

.separator {
  display: flex;
  flex-grow: 1;
}
.nav-icon {
  text-decoration: none;
  color: white;
  font-size: 32px;
}
.nav-icon2 {
  text-decoration: none;
  color: white;
  font-size: 32px;
}
.link-navbar{
  display: none;
}

#navbar-mobile{
  display: none;
}

#navbar-mobile:hover {
  display: flex;
  flex-direction: column;
  position: flex;
  height: 20em;
  width: 37%;
  margin-top: -21em;
  z-index: 5;
  border-radius: 10px;
  background-color: var(--color-red);
}

#login-screen{
  display: none;
}

#login-screen:hover {
  display: flex;
  flex-direction: column;
  position: flex;
  height: 20em;
  width: 37%;
  margin-top: -21em;
  margin-left: 15em;
  z-index: 6;
  border-radius: 10px;
  background-color: var(--color-red);
}

.input-access{
  height: 1.5em;
}
.text-access{
  margin-top: 1em;
  color: white;
}

.link {
  color: var(--color-light);
  text-decoration: none;
  align-self: center;
  margin-top: 0.5em;
  margin-left: 0.3em;
}

/**
Fin Barras de navegación
**/

header {
  display: flex;
  flex-direction: column;
}

/**
Slider con imagen y textos
**/

#container-cover {
  position: relative;
  display: inline-block;
}

.img-slider {
  width: 100%;
  z-index: auto;
}
.card-glass {
  position: absolute;
  margin-top: 5em;
  width: 25%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  text-align: center;
  margin-left: 2px;
}

.over-text {
  font-size: 1.6em;
  color: var(--color-light);
}

#super-title {
  position: absolute;
  top: 15%;
  align-self: center;
  width: 70%;
  height: 1.9em;
  background-color: rgba(255, 71, 71, 0.8);
}

/**
Fin slider con imagen y textos
**/

/**
Botones
**/
.card-circle{
  margin-top: -2em;
  margin-left: 8em;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  background-color: var(--color-red);
  align-items: center;
  text-align: center;
}
.cart-button{
  font-size: larger;
  text-align: center;
  z-index: 1;
  vertical-align: center;
}





/**
Fin Botones
*/
.title-price{
  justify-content: space-between;
  width: 50%;
  max-width: 11em;
}
.flex-display{
  display:flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}




h2{
    font-size: 1.9em;
    color:var(--color-light);
}

.card-title{
  width: 30%;
  border-radius: 10px;
  background-color: rgba(255, 71, 71, 1);
  align-items: center;
  text-align: center;
  margin-left: 2px;
  margin-top: 1em;
}

.container-pizzas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top:1em;
    
}

.container-product{
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container-img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.product-img{
    height: 16em;
    width: auto;
}

/**
* Section Chefs
**/

#equipo{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chef{
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}
.chef-img{
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(80%);
}
.chef:hover{
  flex-grow: 3;
}
.chef:hover .chef-img{
  filter: grayscale(0%);
}
.chef-info{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.1s;
}
.chef:hover .chef-info{
  opacity: 1;
  bottom: 60px;
  transition-delay: 0.3s;
}


footer{

    background-color: var(--color-medium-dark);
}
#container-footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 6em;
    margin-right: 0.2em;
}
li{ 
    color: var(--color-light);
    list-style: none;
}
#container-social{
    margin-top:1em;
    margin-left: 0.4em;
    height: 8em;
}
.container-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1em;
}
.controls-form{
  width: 80%;
}
.container-text{
    margin-top: 1em;
    margin-left: 0.4em;
}
.icon{
  height: 3em;
  margin-left: 1em;
}

/**
Formularios
**/

input{
  margin-left: 1em;
  margin-right: 1em;
  height: 3em;
  border-radius: 15px;

}
label{
  margin-left: 1em;
}

.button{
  margin-top: 1em;
  margin-left: 1em;
  padding: 0.7em;
  font-weight: bold;
  font-size: large;
  color: white;
  border-radius: 15px;
  background-color: var(--color-medium-dark);
}





/**************************
*******Html de Formulario de usuario*******
***************************/
#sectionForm{
  width: 90%;
  margin: 1em;
}
/**************************
*******Html de Formulario de usuario*******
***************************/

/**************************
*******Html de Perfil de usuario*******
***************************/
.perfil-usuario{
  margin-left: 2em;
  font-weight: bold;
}
.space-lines{
  margin-top: 1em;
}
/**************************
*******Html de Formulario de usuario*******
***************************/

/******
***** Pantallas intermedias *****
********/


@media only screen and (min-width: 600px){

.container-pizzas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-product{
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.product-img{
  height: 18em;
  width: auto;
}

.nav-icon{
  display: none;
}
.link-navbar{
  display: flex;
  text-decoration: none;
  color: white;
  margin-left: 1em;
  font-size:larger;
}

.card-glass {
  position: absolute;
  margin-top: 5em;
  width: 25%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  align-items: center;
  text-align: center;
  margin-left: 2px;
}

.over-text {
  font-size: 2.6em;
  color: var(--color-light);
}

#super-title {
  position: absolute;
  top: 40%;
  align-self: center;
  width: 70%;
  height: 2.9em;
  background-color: rgba(255, 71, 71, 0.8);
}

#equipo{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.chef{
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}
.chef-img{
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(80%);
}
.chef:hover{
  flex-grow: 3;
}
.chef:hover .chef-img{
  filter: grayscale(0%);
}
.chef-info{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.1s;
}
.chef:hover .chef-info{
  opacity: 1;
  bottom: 60px;
  transition-delay: 0.3s;
}






#container-footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 6em;
  margin-right: 0.2em;
}
#container-social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:1em;
  height: 8em;
}
.controls-form{
  width: 60%;
}
.nav-icon2{
  font-size: 1.4em;
}
h2{
  font-size: 2.4em;
}

h3{
  font-size: 2em;
}
p{
  font-size: 1.5em;
}
.title-price{
  align-self: center;
  justify-content: space-between;
  width: 70%;
  max-width: 21em;
}
.card-circle{
  margin-top: -3em;
  margin-left: 15em;
  border-radius: 100%;
  height: 4em;
  width: 4em;
  background-color: var(--color-red);
  align-items: center;
  text-align: center;
}
.cart-button{
  font-size: 2.5em;
  margin-top: 0.5em;
  text-align: center;
  z-index: 1;
  vertical-align: center;
}

  
/******
***** Fin Pantallas intermedias *****
********/

/******
***** Pantallas grandes *****
********/
@media only screen and (min-width: 1080px){
  .container-pizzas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container-product{
  display: flex;
  margin-top: 1em;
  flex-direction: column;
  align-items: stretch;
  width: 30%;
}
  .card-glass {
    position: absolute;
    margin-top: 5em;
    width: 25%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    align-items: center;
    text-align: center;
    margin-left: 1em;
  }
  
  .over-text {
    font-size: 4.6em;
    color: var(--color-light);
  }
  
  #super-title {
    position: absolute;
    top: 40%;
    align-self: center;
    width: 70%;
    height: 5.2em;
    background-color: rgba(255, 71, 71, 0.8);
  }
  .controls-form{
    width: 40%;
  }
  .nav-icon{
    display: none;
  }
  .link-navbar{
    display: flex;
    text-decoration: none;
    color: white;
    margin-left: 1em;
    font-size:xx-large;
  }
  #logo{
    height: 3.9em;
  }

  .navbar{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

}
.nav-icon2{
  font-size: 3em;
}
h2{
  font-size: 3em;
}
.card-circle{
  margin-top: -4em;
  margin-left: 18em;
  border-radius: 100%;
  height: 4em;
  width: 4em;
  background-color: var(--color-red);
  align-items: center;
  text-align: center;
}
.cart-button{
  font-size: 2.5em;
  margin-top: 0.1em;
  text-align: center;
  z-index: 1;
  vertical-align: center;
}

}