<form [formGroup]="miForm" [hidden]="miForm.invalid || miForm.pristine">
  <div class="form-group">
    <!-- INPUT DE EMAIL -->
    <div class="field">
      <h5>Username</h5>
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input class="form-control" type="text" formControlName="username" />
        </span>
      </div>
      <span [hidden]="miForm?.get('username')?.valid || miForm.pristine">{{
        getErrorMessage("email")
      }}</span>
    </div>

    <!-- INPUT DE USERNAME -->
    <div class="field">
      <h5>Nombre</h5>
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input class="form-control" type="text" formControlName="nombre" />
        </span>
      </div>
    </div>
    <span [hidden]="miForm?.get('nombre')?.valid || miForm.pristine">{{
      getErrorMessage("username")
    }}</span>
  </div>

  <!-- INPUT PRIMER APELLIDO -->
  <div class="field">
    <h5>Primer apellido</h5>

    <div class="p-inputgroup">
      <span class="p-float-label">
        <input class="form-control" type="text" formControlName="apellido1" />
      </span>
    </div>
  </div>
  <span [hidden]="miForm?.get('apellido1')?.valid || miForm.pristine">{{
    getErrorMessage("apellido1")
  }}</span>

  <!-- INPUT SEGUNDO APELLIDO -->
  <div class="field">
    <h5>Segundo apellido</h5>
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input class="form-control" type="text" formControlName="apellido2" />
      </span>
    </div>
  </div>
  <span [hidden]="miForm?.get('apellido2')?.valid || miForm.pristine">{{
    getErrorMessage("apellido2")
  }}</span>

  <!-- INPUT DE TELEFONO -->
  <div class="field">
    <h5>Telefono</h5>
    <div class="p-inputgroup">
      <span class="p-float-label">
        <input class="form-control" type="text" formControlName="telefono" />
      </span>
    </div>
  </div>
  <span [hidden]="miForm?.get('telefono')?.valid || miForm.pristine">{{
    getErrorMessage("telefono")
  }}</span>

  <div formGroupName="password">
    <div class="field">
      <h5>Contraseña</h5>
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input
            class="form-control"
            type="password"
            formControlName="passwordValue"
          />
        </span>
      </div>
    </div>
    <span
      [hidden]="!miForm?.get('passwordValue')?.invalid || miForm.pristine"
      >{{ getErrorMessage("passwordValue") }}</span
    >

    <div class="field">
      <h5>Repite contraseña:</h5>
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input
            class="form-control"
            type="password"
            formControlName="passwordConfirm"
          />
        </span>
      </div>
    </div>
    <span [hidden]="!miForm?.get('password')?.invalid || miForm.pristine"
      >No coincide la confirmación</span
    >
  </div>

  <button
    pButton
    pRipple
    type="button"
    label="Enviar"
    class="p-button-rounded p-button-help"
    (click)="send()"
    [disabled]="miForm.invalid || miForm.pristine"
  ></button>
</form>
<!-- {{ miForm.errors | json }} -->
