<form [formGroup]="miForm" [class.is-invalid]="miForm.invalid">
  <div class="form-group">
    <label>Email: </label>
    <input
      class="form-control"
      [class.is-invalid]="miForm?.get('username')?.invalid"
      type="text"
      formControlName="username"
    />
    <span class="invalid-feedback">{{ getErrorMessage("username") }}</span>
  </div>
  <div class="form-group">
    <label>Nombre: </label>
    <input
      class="form-control"
      [class.is-invalid]="miForm?.get('nombre')?.invalid"
      type="text"
      formControlName="nombre"
    />
    <span class="invalid-feedback">{{ getErrorMessage("nombre") }}</span>
  </div>
  <div class="form-group">
    <label>Primer apellido: </label>
    <input
      class="form-control"
      [class.is-invalid]="miForm?.get('apellido1')?.invalid"
      type="text"
      formControlName="apellido1"
    />
    <span class="invalid-feedback">{{ getErrorMessage("apellido1") }}</span>
  </div>
  <div class="form-group">
    <label>Segundo apellido: </label>
    <input
      class="form-control"
      [class.is-invalid]="miForm?.get('apellido2')?.invalid"
      type="text"
      formControlName="apellido2"
    />
    <span class="invalid-feedback">{{ getErrorMessage("apellido2") }}</span>
  </div>
  <div class="form-group">
    <label>Telefono: </label>
    <input
      class="form-control"
      [class.is-invalid]="miForm?.get('telefono')?.invalid"
      type="text"
      formControlName="telefono"
    />
    <span class="invalid-feedback">{{ getErrorMessage("telefono") }}</span>
  </div>
  <fieldset formGroupName="password">
    <div class="form-group">
      <label>Contraseña: </label>
      <input
        class="form-control"
        type="password"
        formControlName="passwordValue"
      />
      <span [hidden]="!miForm?.get('passwordValue')?.invalid">{{
        getErrorMessage("passwordValue")
      }}</span>
    </div>
    <div class="form-group">
      <label>Confirmar contraseña: </label>
      <input
        class="form-control"
        type="password"
        formControlName="passwordConfirm"
      />
      <span [hidden]="!miForm?.get('password')?.invalid">No coincide la confirmación</span>
    </div>
  </fieldset>
  <button
    class="btn btn-outline-primary"
    (click)="send()"
    [disabled]="miForm.invalid"
  >
    Send
  </button>
</form>
{{ miForm.errors | json }}
