
<footer>
  <div id="container-footer">
    <div class="container-text">
      <h2>Información</h2>
      <ul>
        <li><a href="">Terminos y Condiciones de uso</a></li>
        <li><a href="">Politica de Cookies</a></li>
        <li><a href="">datos Seguros</a></li>
        <li><a href="">Política de protección de datos</a></li>
        <li><a href="">Atributions for images</a></li>
      </ul>
    </div>
    <div class="container-text">
      <h2>Contacta con nosotros</h2>
      <ul>
        <li>Teléfono: 123456789</li>
        <li>Email: pizzaXpress@pizzaXpress.com</li>
        <li>Dirección: C/ de prueba ...</li>
      </ul>
    </div>
    <div class="container-text">
      <h2>Redes Sociales</h2>
      <div class="flex-display container-social">
        <ul class="lista-social">
          <li>
            <span>
              <i class="pi pi-facebook" alt="icono de facebook"></i>
            </span>
            <span>
              <a title="facebook" href="facebook.com">Facebook</a>
            </span>
          </li>
          <li>
            <span>
              <i class="pi pi-youtube" alt="icono de youtube"></i>
            </span>
            <span>
              <a title="youtube" href="youtube.com">Youtube</a>
            </span>

          </li>
        </ul>
      </div>
    </div>
  </div>

</footer>
