<footer>
  <div id="container-footer">
    <div class="container-text">
      <h2>Información</h2>
      <ul>
        <li>Terminos y Condiciones de uso</li>
        <li>Politica de Cookies</li>
        <li>Sus datos Seguros</li>
        <li>Política de protección de datos</li>
        <li>Atributions for images</li>
      </ul>
    </div>
    <div class="container-text">
      <h2>Contacta con nosotros</h2>
      <ul>
        <li>Teléfono: 123456789</li>
        <li>Email: pizzaXpress@pizzaXpress.com</li>
        <li>Dirección: C/ de prueba ...</li>
      </ul>
    </div>
    <div id="container-text container-social">
      <h2>Redes Sociales</h2>
      <div class="flex-display">
        <a title="facebook" href="facebook.com"
          ><i class="fa-brands fa-facebook" alt="icono de facebook"></i>
          Facebook</a
        >
        <a title="youtube" href="youtube.com"
          ><i class="fa-brands fa-youtube" alt="icono de youtube"></i> youtube</a
        >
      </div>
    </div>
  </div>

</footer>
