<section >
  <div id="section3" class="card-title">
      <h2>Nuestro equipo:</h2>
  </div>
<div id="equipo">
  <div class="chef">
      <img class="chef-img" src="..\assets\img\foto-juan-antonio-fun.webp" alt="chef-Juan Antonio">
      <div class="chef-info card-title">
          <h2>Juan Antonio</h2>
          <p>MasterChef</p>
      </div>
  </div>
  <div class="chef">
      <img class="chef-img" src="..\assets\img\foto-antonio-fun.webp" alt="chef-Antonio">
      <div class="chef-info card-title">
          <h2>Antonio</h2>
          <p>MasterChef</p>
      </div>
  </div>
  <div class="chef">
      <img class="chef-img" src="..\assets\img\foto-miguel-fun.webp" alt="chef-Miguel">
      <div class="chef-info card-title">
          <h2>Miguel</h2>
          <p>MasterChef</p>
      </div>
  </div>
</div>
</section>
