:root {
  --color-red: #ff4747;
  --color-light: #f5f9e7;
  --color-dark: #180314;
  --color-medium-light: #f4f08d;
  --color-medium-dark: #870909;
}

* {
  font-family: Saira_Semi_Condensed_Regular;
  font-weight: bold;
  margin: 0em;
  padding: 0em;
}

section {
  background-color: #f5f9e7;
  width: auto;
}

/**
* Section Chefs
**/

#equipo{
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.chef{
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}
.chef-img{
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(80%);
}
.chef:hover{
  flex-grow: 3;
}
.chef:hover .chef-img{
  filter: grayscale(0%);
}
.chef-info{
  position: absolute;
  align-self: center;
  bottom: 10px;
  width: 30%;
  text-align: center;
  opacity: 0;
  transition: all 0.1s;
}
.chef:hover .chef-info{
  opacity: 1;
  bottom: 60px;
  transition-delay: 0.3s;
}

h2{
  font-size: 1.9em;
  color:#f5f9e7;
}
p{
  font-size: 1.5em;
}

.card-title{
  width: 30%;
  border-radius: 10px;
  background-color: rgba(255, 71, 71, 1);
  align-items: center;
  text-align: center;
  margin-left: 2px;
}



/******
***** Pantallas intermedias *****
********/


@media only screen and (min-width: 600px){

#equipo{
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.chef{
  flex-grow: 1;
  align-items: center;
  overflow: hidden;
  position: relative;
  transition: all 0.5s;
}
.chef-img{
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(80%);
}
.chef:hover{
  flex-grow: 3;
}
.chef:hover .chef-img{
  filter: grayscale(0%);
}
.chef-info{
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: center;
  opacity: 0;
  transition: all 0.1s;
}
.chef:hover .chef-info{
  opacity: 1;
  bottom: 60px;
  transition-delay: 0.3s;
}
}
