<div class="promociones">
  <ul>
    <li>
      <p-card
        header="2 X 1"
        subheader="TODOS LOS JUEVES"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../../assets/img/2x1.jpg" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
        <!-- <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"
          ></p-button>
        </ng-template> -->
      </p-card>
    </li>
    <li>
      <p-card
        header="3 x 2"
        subheader="EL ULTIMO VIERNES DE CADA MES"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../../assets/img/3x2.jpg" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
        <!-- <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"
          ></p-button>
        </ng-template> -->
      </p-card>
    </li>
    <li>
      <p-card
        header="Advanced Card"
        subheader="Card Subheader"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../../assets/img/logo.png" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
        <!-- <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"
          ></p-button>
        </ng-template> -->
      </p-card>
    </li>
    <li>
      <p-card
        header="Advanced Card"
        subheader="Card Subheader"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../../assets/img/logo.png" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
        <!-- <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"
          ></p-button>
        </ng-template> -->
      </p-card>
    </li>
    <li>
      <p-card
        header="Advanced Card"
        subheader="Card Subheader"
        [style]="{ width: '360px' }"
        styleClass="p-card-shadow"
      >
        <ng-template pTemplate="header">
          <img alt="Card" src="../../assets/img/logo.png" />
        </ng-template>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
          sed consequuntur error repudiandae numquam deserunt quisquam repellat
          libero asperiores earum nam nobis, culpa ratione quam perferendis
          esse, cupiditate neque quas!
        </p>
        <!-- <ng-template pTemplate="footer">
          <p-button label="Save" icon="pi pi-check"></p-button>
          <p-button
            label="Cancel"
            icon="pi pi-times"
            styleClass="p-button-secondary"
            [style]="{ 'margin-left': '.5em' }"
          ></p-button>
        </ng-template> -->
      </p-card>
    </li>
  </ul>
</div>
