ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

}
ul li{
  margin: 1%;
}

.promociones{
    background-color: #f5f9e7;
    display: flex;
}
