
<div class="row fondo-claro" >
  <h1>Pizza</h1>
  <div class="col-xs-12 col-sm-6 col-md-6 container-pizzas">
      <div class="well well-sm">
          <div class="row">
              <div class="col-sm-6 col-md-4">
                  <img id="img-ficha" src="{{VM.Elemento.foto}}"
                        alt="Foto de {{VM.Elemento.nombre}} {{VM.Elemento.precio}}" class="rounded" />
              </div>
              <div class="col-sm-6 col-md-8">
                  <h4>{{VM.Elemento.tratamiento}} {{VM.Elemento.nombre}} {{VM.Elemento.precio| currency:'EUR':'symbol':'1.2-2' }}</h4>
                  <h4>{{VM.Elemento.descripcion}}</h4>
                  <p [hidden]="!VM.Elemento.conflictivo"><small class="text-danger">
                        <i class="fas fa-skull-crossbones mr-2"></i>Persona conflictiva</small></p>
                  <p>
                      <i class="fas fa-phone-alt mr-2"></i>{{VM.Elemento.telefono}}
                      <br />
                      <i class="fas fa-envelope mr-2"></i>
                        <a href="mailto:{{VM.Elemento.email}}">{{VM.Elemento.email}}</a>
                      <br />
                      <i class="fas fa-gifts mr-2"></i>{{VM.Elemento.nacimiento | date:'dd/MMMM/yyyy'}}
                  </p>
                  <div class="btn-group">
                      <input class="btn btn-secondary" type="button" value="Volver" (click)="VM.cancel()">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

