.container-pizzas{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 0em;
  padding-right: 0em;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  background-color:#f5f9e7;
}

.fondo-claro{
  display:flex;
  flex-direction: column;
  background-color:#f5f9e7;
}

.container-card-pizza{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin: 2em;
}

.container-text-card-pizza{
  display: flex;
  justify-content:space-between;
}

.product-text{
  font-size: x-large;
  font-weight: bold;
  margin-top: 1em;
}
.container-card-pizza img{
  height: 15em;
  width: 15em;
}

.container-button{
  display: flex;
  flex-direction: col;
  background-color: #f5f9e7;
}

#img-ficha {
   height: 25em;
 }
.img-descripcion{
  position: relative;
  float: left;
}

/**
Botones
**/
.button{
  margin-top: 0em;
  height: 3em;
  border-radius: 20%;
  background-color: #ff4747;
  border-color: white;
  color:white;
  align-items: center;
}

.button-cart{
  margin-top: -10em;
  margin-left: 10em;
  height: 4em;
  width: 4em;
  border-color: white;
  color:white;
  background-color: #ff4747;
  border-radius: 100%;
  cursor: pointer;
}

.card-circle{
  margin-top: -4em;
  margin-left: 10em;
  border-radius: 100%;
  height: 3em;
  width: 3em;
  background-color: #ff4747;
  align-items: center;
}
.cart-button{
  text-decoration: none;
  font-size: x-large;
  text-align: center;
  z-index: 1;
  margin-top: 0.2em;

  vertical-align: center;
}

.no-decoration{
  text-decoration: none;
}

/**
Fin Botones
*/




table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
