
<section>
  <div class="container-button">
  <button *ngIf="VM.auth.isAutenticated" class="btn btn-success" routerLink="add"><i class="pi pi-plus-circle"></i> Añadir</button>
  </div>
  <div class="container-pizzas">
  <div class="container-card-pizza" *ngFor="let item of VM.Listado">
    <img [src]="item.foto??'assets/img/pizzas/pizza-margarita.jpg'" alt="Foto de la pizza {{item.nombre}}" height="auto" width="100">
    <div>
      <button class="no-decoration button-cart" (click)="carrito.agregarAlCarrito(item)"><h2 class="cart-button">🛒</h2></button>
  </div>
    <div class="container-text-card-pizza">
      <button class="product-text button" routerLink="{{item.id}}">{{item.nombre}}</button>
      <p class="product-text">{{item.precio | currency:'EUR':'symbol':'1.2-2'}}</p>
    </div>
    <div class="btn-group" role="group">
      <button class="btn btn-success" [routerLink]="[item.id, 'edit']"><i class="pi pi-pencil"></i></button>
      <button class="btn btn-danger" (click)="VM.delete(item.id)"><i class="pi pi-times"></i></button>
    </div>
  </div>
  </div>

</section>

<p-paginator [first]="VM.rowsPerPage*VM.page" [rows]="VM.rowsPerPage" [totalRecords]="VM.totalRows"
    [pageLinkSize]="5" (onPageChange)="VM.load($event.page)"></p-paginator>
