<div>
  <div>    <h2>Carrito de la compra</h2>
  </div>
  <div>
    <table>
      <tr>
        <th>Foto</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Cantidad</th>
      </tr>
      <tr>
        <!--<td><img src="pizzasCarrito[item].fotoUrl" alt="foto"></td>-->
        <td>{{pizzasCarrito[1].nombre}}</td>
        <td>{{pizzasCarrito[1].precio}}</td>
        <td>{{cantidad}}</td>
      </tr>

    </table>
    <!--
    <h2 >{{(pizzasCarrito[0].precio)*cantidad}}</h2>
    -->
  </div>
</div>
